<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<nav class="container">

    <div class="logo">
      <img src="/img/logo.png" alt="">
    </div>

    <div class="list">
      <ul>
        <li><a href="#">Menu</a></li>

          <li><a href="#">Offers</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#"><img src="/img/cart.png" /></a></li>


      </ul>
    </div>

</nav>

<section>
  <div class="hero container">
    <div class="left">
      <h5><em>Are tou hungry?</em></h5>
      <h1>Do not Wait!!</h1>
      <button class="hero-btn"type="button" name="button">ORDER NOW</button>
    </div>

    <div class="right">
      <img src="/img/hero-pizza.png" alt="">
    </div>

  </div>
</section>

<section class="container">


 <div class="grid-container">


   <div class="card" style="width: 19rem;">
   <img src="img/pizza.png" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Margerita</h5>
     <p class="size">small</p>
     <div class="price">
       <p class="money">Rs100</p>
       <button class="add-to-cart">
         <span>+</span>
         <span>Add</span>
       </button>
     </div>

   </div>
 </div>

 <div class="card" style="width: 19rem;">
 <img src="img/pizza.png" class="card-img-top" alt="...">
 <div class="card-body">
   <h5 class="card-title">Margerita</h5>
   <p class="size">small</p>
   <div class="price">
     <p class="money">Rs100</p>
     <button class="add-to-cart">
       <span>+</span>
       <span>Add</span>
     </button>
   </div>

 </div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>




 </div>
</section>


  </body>
</html>
