
<section>
  <div class="hero container">
    <div class="left">
      <h5><em>Are tou hungry?</em></h5>
      <h1>Do not Wait!!</h1>
      <button class="hero-btn"type="button" name="button">ORDER NOW</button>
    </div>

    <div class="right">
      <img src="/img/hero-pizza.png" alt="">
    </div>

  </div>
</section>

<section class="container">


 <div class="grid-container">


   <div class="card" style="width: 19rem;">
   <img src="img/pizza.png" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">Margerita</h5>
     <p class="size">small</p>
     <div class="price">
       <p class="money">Rs100</p>
       <button class="add-to-cart">
         <span>+</span>
         <span>Add</span>
       </button>
     </div>

   </div>
 </div>

 <div class="card" style="width: 19rem;">
 <img src="img/pizza.png" class="card-img-top" alt="...">
 <div class="card-body">
   <h5 class="card-title">Margerita</h5>
   <p class="size">small</p>
   <div class="price">
     <p class="money">Rs100</p>
     <button class="add-to-cart">
       <span>+</span>
       <span>Add</span>
     </button>
   </div>

 </div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>

<div class="card" style="width: 19rem;">
<img src="img/pizza.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Margerita</h5>
  <p class="size">small</p>
  <div class="price">
    <p class="money">Rs100</p>
    <button class="add-to-cart">
      <span>+</span>
      <span>Add</span>
    </button>
  </div>

</div>
</div>




 </div>
</section>
