
<section class="cart" style="height:650px">



<!--
  <div class="empty-cart">
    <h3>Cart empty !!  :(</h3>
    <p>it seems you havent added any pizzas..
      <br>Dont wait . Add it now !!!</p>
    <div class="empty-img">
      <img src="img/empty-cart.png" alt="">
    </div>
    <a href="/">Back home</a>
  </div> -->

  <div class=" cart-page">
    <div class="order">
      <img src="img/cart-black.png" alt="">
      <h3>Order Summary</h3>
    </div>

  </div>
<hr>

  <div class="pizza-list">
      <div class="img">
          <img src="img/pizza.png" alt="">


      <div class="names">
        <h3>margerita</h3>
        <span>Medium</span>
      </div>

        <span class="span1">1pcs</span>
        <span class="span2">Rs 100</span>
      </div>

      <div class="img">
          <img src="img/pizza.png" alt="">


      <div class="names">
        <h3>margerita</h3>
        <span>Medium</span>
      </div>

        <span class="span1">1pcs</span>
        <span class="span2">Rs 100</span>
      </div>

      <div class="img">
          <img src="img/pizza.png" alt="">


      <div class="names">
        <h3>margerita</h3>
        <span>Medium</span>
      </div>

        <span class="span1">1pcs</span>
        <span class="span2">Rs 100</span>
      </div>
      <hr>
      <div >
        <div class="amount">
          <span>Total amount:</span>
           <span style="color:orange">Rs 300</span>
        </div>
      </div>

 <div class="">
   <form class="" action="index.html" method="post">
     <input type="text" placeholder="address"><br>
     <input type="text" placeholder="phone number">
     <div class="form-btn">
       <button style="display:flex align-items:flex-end"  type="submit" name="button">Order now</button>
     </div>

   </form>

   <a  class="order-login"href="#">Login to Order</a>

 </div>


    </div>






</section>
